.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", sans-serif, serif;
  color: #5a5a56;
  font-size: 16px;
}

.homework03__wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 0;
  font-size: 0px;
}

.homework03_nav {
  margin: 0 164px;
}
.homework03_header {
  padding-top: 72px;
  margin-bottom: 100px;
}

.nav_list {
  display: inline-block;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  text-align: justify;
  text-align-last: justify;
}

.nav_list li {
  display: inline-block;
  list-style: none;
  line-height: 1.714;
}

.nav_list li a {
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(98, 98, 98);
  text-decoration: none;
}

.nav_list li a:hover,
.nav_list li a:focus {
  color: #03a9f4;
}

