.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", sans-serif, serif;
  color: #5a5a56;
  font-size: 16px;
}

.homework03__wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 0;
  font-size: 0px;
}

.homework03_nav {
  margin: 0 164px;
}
.homework03_header {
  padding-top: 72px;
  margin-bottom: 100px;
}

.nav_list {
  display: inline-block;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  text-align: justify;
  text-align-last: justify;
}

.nav_list li {
  display: inline-block;
  list-style: none;
  line-height: 1.714;
}

.nav_list li a {
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(98, 98, 98);
  text-decoration: none;
}

.nav_list li a:hover,
.nav_list li a:focus {
  color: #03a9f4;
}

/* main */
main {
  margin: 0;
  padding: 0;
}

.homework03_main_content {
  margin-bottom: 52px;
}

.homework03_article {
  width: 420px;
  padding: 0;
  margin: 0 60px 130px 0;
  display: inline-block;
}

.homework03_article:nth-child(2n) {
  margin-right: 0;
}

.homework03_article:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.article_img {
  width: 100%;
  margin-bottom: 32px;
}

.article_category {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 16px;
  font-weight: 300;
}

.article_title {
  font-size: 30px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.2;
  margin-bottom: 36px;
  font-weight: 500;
}

.article_description {
  font-size: 14px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
  font-weight: 500;
}

.homework03_div_button {
  text-align: center;
  margin-bottom: 70px;
}

.homework03_button {
  margin: 0 auto;
  border: 1px solid rgb(98, 98, 98);
  font-size: 20px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.2;
  font-weight: 500;
  padding: 18px 34px;
  text-transform: uppercase;
  background-color: #fff;
  cursor: pointer;
}

.homework03_button:hover,
.homework03_button:focus {
  border: 1px solid #03a9f4;
  color: #03a9f4;
}
