html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-inherit;
}

body {
  font-family: "Roboto", Tahoma, sans-serif;
  color: #212121;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  line-height: 1.5;
}

ul {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 840px;
  margin: 0 auto;
}

.wrapper h1 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 64px;
}

.section_lesson {
  margin-bottom: 64px;
  height: auto; 
  overflow: hidden;
}

.section_lesson h3 {  
  margin-bottom: 32px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}

/* lesson 01 */

.lesson_01_nav ul li {

  float: left;
  list-style: none;
  margin-right: 30px;
  height: auto; 
  overflow: hidden;
}

.lesson_01_nav ul li a {
  text-transform: uppercase;
  font-size: 14px;
  color: rgb(98, 98, 98);
  text-decoration: none;
}

.lesson_01_nav ul li a:hover,
.lesson_01_nav ul li a:focus {
  color:red;
}

/* lesson_02 */
.lesson_02 ul {
  display: block;
}
.lesson_02 ul li {
  float: left;
  list-style: none;
  margin-right: 30px;
  height: auto; 
  overflow: hidden;
}

.lesson_02 ul li a {
  text-transform: uppercase;
  font-size: 14px;
  color: #0E1116;
  text-decoration: none;
}

.lesson_02 ul li:nth-child(1n+1) {
  background-color:  #88292F;
 
}
.lesson_02 ul li:nth-child(2n+1) {
  background-color:  #5DB7DE;
 
}
.lesson_02 ul li:nth-child(3n+1) {
  background-color:  #0D5D56;
 
}

/* lesson 03 */


.lesson_03 ul {
  display: block;
}
.lesson_03 ul li {
  float: left;
  list-style: none;
  margin-right: 30px;
  height: auto; 
  overflow: hidden;
}

.lesson_03 ul li a {
  text-transform: uppercase;
  font-size: 14px;
  color: #0E1116;
  text-decoration: none;
}

.lesson_03 ul li a::before{
  content: "\2192";
}

/* lesson 04 */

.lesson_04 ul {
  display: block;
  counter-reset: count-li 0;
}

.lesson_04 ul li {
  float: left;
  list-style: none;
  margin-right: 30px;
  height: auto; 
  overflow: hidden;
  counter-increment: count-li +1;
}

.lesson_04 ul li::before{
  display: block;
  border: 1px solid black;
  vertical-align: middle;
  text-align: center;
  content: counter(count-li, upper-roman);
}