.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family:  "Roboto", sans-serif, serif;
  color: #555252;
  font-size: 16px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
}

.header {
  margin-top: 38px;
  margin-bottom: 106px;
}

.logo {
  display: inline-block;
}

.logo a {
  text-transform: uppercase;
  font-size: 30px;
  text-decoration: none;
  font-weight: lighter;
}


.logo:first-letter {
  color: #1abc9c;
  font-weight: 700;
}

.logo-link {
  color: #555252;
}

.logo-link a {
  text-decoration: none;
}

.nav {
  float: right;
  margin-top: 14px;
}

.nav__list .nav__item {
  float: left;
}
.nav__list .nav__item:not(:last-child) {
  margin-right: 34px;
}

.nav__list .nav__item a {
  text-decoration: none;
  color: #0f0101;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
}

.nav__list .active a{
  color: #1abc9c;
}

.nav__list .nav__item a:hover,
.nav__list .nav__item a:focus,
.nav__list .nav__item a:active {
  color: #1abc9c;
}

.featured-products__section {
  margin-bottom: 104px;
}


.section__title {
  color: #515151;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 92px;
}
.section__title::after {
  content: "";
  display: block;
  width: 162px;
  margin: 0 auto;
  border-bottom: 7px solid #1abc9c;
  margin-top: 30px;
}

.content_list .list_item {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 255px;
}
.content_list .list_item:nth-child(4n) {
  margin-right: 0;
}
.content_list .list_item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.content_item {
  font-size: 0;
}
.content_item img{
 width: 100%;
}
.content_item_bottom-info {
  background: #323232;
}
.content_title {
  text-transform: uppercase;
  color: #ffffff;
  background: #323232;
  width: 200px; 
  font-size: 18px;
  padding: 14px 0 14px 14px;
  display: inline-block;
  font-weight: 700;
}

.content_price {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.5);
  padding: 14px 14px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 55px;
  display: inline-block;
  font-weight: 700;
}

.content_item:hover .content_item_bottom-info,
.content_item:focus .content_item_bottom-info ,
.content_item:hover .content_title,
.content_item:focus .content_title {
  background-color: rgb(26, 188, 156);
}

.content_item:hover .content_price,
.content_item:focus .content_price {
  background: rgba(255, 255, 255, 0.5);
}

.section_latest-news {
  margin-bottom: 46px;
}
.latest-news_list_item {
  float: left;
  width: 350px;
}
.latest-news_list_item:not(:last-child) {
  margin-right: 30px;
}

.latest-news_list_item img {
  width: 100%;
  margin-bottom: 14px;
}

.latest-news_list_item .list_title {
  font-size: 18px;
  color: rgb(85, 82, 82);
  line-height: 1.444;
  font-weight: 500;
  margin-bottom: 30px;
}

.latest-news_list_item .list_title::after {
  content: "";
  display: block;
  width: 136px;
  border-bottom: 3px solid #1abc9c;
  margin-top: 14px;
}

.latest-news_list_item .list_discription {
  font-size: 14px;
  color: rgb(85, 82, 82);
  line-height: 1.857;
  margin-bottom: 18px;
  text-overflow: clip;
}
.latest-news_list_item .list_btn {
  display: inline-block;
  border: none;
  background: #4ec6ab;
  padding: 20px 42px;
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  -moz-transform: matrix(0.98757763975155, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(0.98757763975155, 0, 0, 1, 0, 0);
  -ms-transform: matrix(0.98757763975155, 0, 0, 1, 0, 0);
  font-weight: 100;
  cursor: pointer;
  text-decoration: none;
}
