.banner {
  background: linear-gradient(
      360deg,
      $color-gradiant-one 0%,
      $color-gradiant-two 100%
    ),
    url(../images/eagle1x.png) no-repeat center/cover;
  height: 1000px;
  width: 100%;
  min-width: $container-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 46px;

  &__title-discription {
    font-size: 72px;
    color: $white-color;
    font-family: $kaushan-script, cursive;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 24px;
    display: block;
    font-weight: 500;
    text-transform: none;
  }

  &__title {
    font-size: 150px;
    line-height: 140px;
    font-family: $montserrat;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    display: block;
    color: $white-color;
    margin-bottom: 124px;
  }
  &__btn-more {
    width: 182px;
    display: block;
    text-align: center;
    padding: 15px 32px;
    border: 3px solid $white-color;
    background-color: transparent;
    color: $white-color;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
}
