/* footer */

.footer {
  border-top: 1px solid $footer-border;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: $footer-color;
}
.footer-address {
  &__decription {
    font-size: $general-font-size;
    font-family: $montserrat;
    color: $footer-color;
    line-height: 1.2;
    font-style: normal;
  }
  &__link {
    text-decoration: none;
    color: $second-color;
  }
}

.contact-form {
  width: 380px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  &__email {
    width: 230px;
    height: 40px;
    border-left: 1px solid $footer-border;
    border-bottom: 1px solid $footer-border;
    border-top: 1px solid $footer-border;
    border-right: none;
    padding: 10px;
    &::-webkit-input-placeholder {
      color: $footer-border;
    }
  }
  &__btn {
    width: 150px;
    height: 40px;
    border: none;
    background-color: $general-color;
    text-transform: uppercase;
    font-size: $general-font-size;
    font-family: $montserrat;
    color: $white-color;
    font-weight: bold;
    line-height: 1.2;
    padding: 14px 32px;
    cursor: pointer;
  }
}
