:root {
  --header-color: #95e1d3;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  overflow-wrap: break-word;
}

body {
  font-family: "Montserrat", "Kaushan Script", "Roboto", sans-serif, serif;
  color: #95e1d3;
  font-size: 14px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
  align-items: flex-end;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #fff;
  text-decoration: none;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
}

.menu__item {
  margin-left: 55px;
}

.menu__item:first-child {
  margin-left: 0;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
}

.menu__btn {
  width: 18px;
  height: 18px;
  fill: #fff;
}

.menu__item:hover .menu__btn {
  fill: rgb(252, 227, 138);
}

@keyframes menu__link--anim {
  from {
    display: block;
    width: 100%;
    border-bottom: 4px solid rgb(252, 227, 138);
    padding-bottom: 12px;
  }
  to {
    display: block;
    width: 100%;
    border-bottom: 4px solid rgb(252, 227, 138);
    padding-bottom: 12px;
  }
}

.menu__item:hover .menu__link {
  color: rgb(252, 227, 138);
  animation: menu__link--anim 200ms linear;
  animation-play-state: paused;
}

.banner {
  background: linear-gradient( 360deg, rgba(252, 227, 138, 90%) 0%, rgba(243, 129, 129, 90%) 100%), url(../img/eagle1x.png) no-repeat center/cover;
  height: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 46px;
}

.banner__title-discription {
  font-size: 72px;
  color: #fff;
  font-family: "Kaushan Script", cursive;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 24px;
  display: block;
  font-weight: 500;
  text-transform: none;
}

.banner__title {
  font-size: 150px;
  line-height: 140px;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  display: block;
  color: #fff;
  margin-bottom: 124px;
}

.banner__btn-more {
  width: 182px;
  display: block;
  padding: 15px 32px;
  border: 3px solid #fff;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.section__header {
  margin-bottom: 110px;
}

.section__title-discription {
  color: #333333;
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 24px;
  display: block;
  font-weight: 500;
  text-transform: none;
}

.section__title {
  font-size: 30px;
  font-family: "Montserrat";
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  display: block;
}

.section__title::after {
  content: "";
  display: block;
  width: 60px;
  border-bottom: 4px solid #f38181;
  margin: 0 auto;
  padding-top: 40px;
}

/* services */

.main__services {
  margin-bottom: 84px;
}

.services__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__item {
  width: 382px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.services__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.services__icon {
  width: 82px;
  height: 70px;
  background-position: top;
}

.services__info {
  width: 300px;
}

.services-info__title {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 6px;
  font-weight: 400;
}

.services-info__discription {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;
}

/* our team */

.main__our-team {
  margin-bottom: 80px;
}

.main__our-team .section__header {
  margin-bottom: 88px;
}

.main__our-team .section__title {
  margin-bottom: 40px;
}

.section__header .section__discription {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: center;
  width: 960px;
  margin: 0 auto;
}

.our-team__personal {
  display: flex;
  justify-content: space-between;
}

.personal__socials-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  /* transition: background-image 200ms linear; */
  display: flex;
  background-image: linear-gradient( 90deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  justify-content: center;
  align-items: center;
  opacity: 0;
}

@keyframes avatar--anim {
  from {
    background-color: rgb(149, 225, 211);
  }
  to {
    background-color: rgb(149, 225, 211);
  }
}

@keyframes transform-left-up {
  from {
    transform: translate(-10px, -10px);
  }
  to {
    transform: translate(-10px, -10px);
  }
}

.personal__item {
  width: 380px;
}

.personal__avatar {
  margin-bottom: 28px;
  position: relative;
  /* transition: background-color 200ms linear, border 200ms linear,
    transform 200ms linear; */
}

.personal__avatar:hover {
  animation: avatar--anim 200ms linear;
  animation-play-state: paused;
  /* background-color: rgb(149, 225, 211); */
  /* transition: background-color 200ms linear; */
}

.personal__avatar:hover .personal__socials-wrapper {
  animation: transform-left-up 200ms linear;
  animation-play-state: paused;
  /* transform: translate(-10px, -10px); */
  z-index: 1;
  opacity: 1;
}

.personal__avatar:hover .personal__img {
  animation: transform-left-up 200ms linear;
  animation-play-state: paused;
  /* transform: translate(-10px, -10px); */
}

.personal__img {
  width: 100%;
  height: 100%;
}

.personal__name {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

.personal__profession {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
  text-align: center;
}

.socials-wrapper__socials {
  display: flex;
}

@keyframes social-icon--anim {
  from {
    background-color: #f38181;
  }
  to {
    background-color: #f38181;
  }
}

.socials__icon {
  width: 56px;
  height: 56px;
  background-color: rgb(252, 227, 138);
  margin-right: 1px;
  /* transition: background-color 200ms linear; */
}

.socials__icon:hover {
  animation: social-icon--anim 200ms linear;
  animation-play-state: paused;
  /* background-color: rgb(149, 225, 211); */
}

.socials__link {
  display: block;
  width: 56px;
  height: 56px;
  position: relative;
}

.socials__svg {
  width: 26px;
  height: 26px;
  display: block;
  fill: #f38181;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.socials__svg--facebook {
  width: 12px;
}

.socials__link:hover .socials__svg {
  fill: #ffffff;
}

.socials__icon:nth-last-child() {
  margin-right: 0;
}

/* footer */

.footer {
  border-top: 1px solid #e5e5e5;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333333;
}

.address__decription {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  font-style: normal;
}

.address__link {
  text-decoration: none;
  color: #f38181;
}

.footer__contact-form {
  width: 380px;
  height: 40px;
  display: flex;
}

.contact-form__email {
  width: 230px;
  height: 40px;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  border-right: none;
  padding: 10px;
}

.contact-form__email::-webkit-input-placeholder {
  color: #e5e5e5;
}

.contact-form__btn {
  width: 150px;
  height: 40px;
  border: none;
  background-color: #95e1d3;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  padding: 14px 32px;
  cursor: pointer;
}