html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", sans-serif, serif;
  color: #5a5a56;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
}

.lesson_one {
  background: rgba(159, 118, 96, 1);
  background: -moz-linear-gradient(
    left,
    rgba(159, 118, 96, 1) 0%,
    rgba(148, 92, 66, 1) 37%,
    rgba(136, 63, 32, 1) 71%,
    rgba(128, 41, 10, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(159, 118, 96, 1)),
    color-stop(37%, rgba(148, 92, 66, 1)),
    color-stop(71%, rgba(136, 63, 32, 1)),
    color-stop(100%, rgba(128, 41, 10, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(159, 118, 96, 1) 0%,
    rgba(148, 92, 66, 1) 37%,
    rgba(136, 63, 32, 1) 71%,
    rgba(128, 41, 10, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(159, 118, 96, 1) 0%,
    rgba(148, 92, 66, 1) 37%,
    rgba(136, 63, 32, 1) 71%,
    rgba(128, 41, 10, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(159, 118, 96, 1) 0%,
    rgba(148, 92, 66, 1) 37%,
    rgba(136, 63, 32, 1) 71%,
    rgba(128, 41, 10, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(159, 118, 96, 1) 0%,
    rgba(148, 92, 66, 1) 37%,
    rgba(136, 63, 32, 1) 71%,
    rgba(128, 41, 10, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f7660', endColorstr='#80290a', GradientType=1 );
}
.lesson_one_nav {
  text-align: center;
}
.nav_list {
  display: inline-block;
}
.nav_list_item {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  line-height: 3;
}
.item_link {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 10px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px black, 0 0 1em gray;
}
.item_link:hover {
  text-shadow: 1px 1px 2px white, 0 0 1em blue;
}

.lesson_two {
  width: 470px;
  margin: 0 auto;
}
.article_lesson {
  width: 470px;
  padding: 30px 20px 20px 20px;
  display: inline-block;
  margin-right: 5px;
}
.lesson_two_image {
  margin-bottom: 10px;
}
.lesson_two_category {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 100;
  color: #c6ccd3;
}

.lesson_two_title {
  color: gray;
  text-shadow: 1px 1px black;
  font-size: 30px;
}

.lesson_two_description {
  color: gray;
}

.lesson_three {
  width: 960px;
  margin: 0 auto;
}

.lesson_four {
  width: 450px;

  margin: 0 auto 20px auto;
}

section {
  background: rgba(183, 222, 237, 1);
  background: -moz-linear-gradient(
    left,
    rgba(183, 222, 237, 1) 0%,
    rgba(113, 206, 239, 1) 30%,
    rgba(113, 206, 239, 1) 53%,
    rgba(33, 180, 226, 1) 66%,
    rgba(183, 222, 237, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(183, 222, 237, 1)),
    color-stop(30%, rgba(113, 206, 239, 1)),
    color-stop(53%, rgba(113, 206, 239, 1)),
    color-stop(66%, rgba(33, 180, 226, 1)),
    color-stop(100%, rgba(183, 222, 237, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(183, 222, 237, 1) 0%,
    rgba(113, 206, 239, 1) 30%,
    rgba(113, 206, 239, 1) 53%,
    rgba(33, 180, 226, 1) 66%,
    rgba(183, 222, 237, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(183, 222, 237, 1) 0%,
    rgba(113, 206, 239, 1) 30%,
    rgba(113, 206, 239, 1) 53%,
    rgba(33, 180, 226, 1) 66%,
    rgba(183, 222, 237, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(183, 222, 237, 1) 0%,
    rgba(113, 206, 239, 1) 30%,
    rgba(113, 206, 239, 1) 53%,
    rgba(33, 180, 226, 1) 66%,
    rgba(183, 222, 237, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(183, 222, 237, 1) 0%,
    rgba(113, 206, 239, 1) 30%,
    rgba(113, 206, 239, 1) 53%,
    rgba(33, 180, 226, 1) 66%,
    rgba(183, 222, 237, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1 );
}

article {
  background: rgba(210, 255, 82, 1);
  background: -moz-linear-gradient(
    left,
    rgba(210, 255, 82, 1) 0%,
    rgba(56, 232, 46, 1) 34%,
    rgba(56, 232, 46, 1) 71%,
    rgba(145, 232, 66, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(210, 255, 82, 1)),
    color-stop(34%, rgba(56, 232, 46, 1)),
    color-stop(71%, rgba(56, 232, 46, 1)),
    color-stop(100%, rgba(145, 232, 66, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(210, 255, 82, 1) 0%,
    rgba(56, 232, 46, 1) 34%,
    rgba(56, 232, 46, 1) 71%,
    rgba(145, 232, 66, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(210, 255, 82, 1) 0%,
    rgba(56, 232, 46, 1) 34%,
    rgba(56, 232, 46, 1) 71%,
    rgba(145, 232, 66, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(210, 255, 82, 1) 0%,
    rgba(56, 232, 46, 1) 34%,
    rgba(56, 232, 46, 1) 71%,
    rgba(145, 232, 66, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(210, 255, 82, 1) 0%,
    rgba(56, 232, 46, 1) 34%,
    rgba(56, 232, 46, 1) 71%,
    rgba(145, 232, 66, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
}
