.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif, serif;
  color: #444444;
  font-size: 16px;
}

.wrapper{
  width: 100%;
}

.container{
  width: 960px;  
  margin: 0 auto
}
.sidebar{
  display: flex;
  height: 200px;
  justify-content: space-between;
  margin-bottom: 40px;
}
.sidebar-left{
  /* width: calc((540px/960px)*100%); */
  width: 54.16%;
  background-color: rgb(82, 109, 230);
  height: 200px;
}
.sidebar-center{
   /* width: calc((200px/960px)*100%); */
  width: 20.83%;
  background-color: #808080;
  height: 200px;
}
.sidebar-right{
  /* width: calc((200px/960px)*100%); */
  width: 20.83%;
  background-color: rgb(255, 123, 0);
  height: 200px;
}

.sidebar-content{
  background-color: yellow;

}
.sidebar-green-white{
  background-color: rgb(120, 223, 120);
}
.sidebar-2{
  display: flex;
  height: 200px;
  margin-bottom: 40px;
}
.sidebar-3{
  height: 200px;
  margin-bottom: 40px;
}
.block-2{
  height: 200px;
  width: 100%;
}
.less3-red{
  background-color: red;
  width: 100%;
  height: 100%;
}
.less3-green{
  background-color: green;
}
.less3-blue{
  background-color: blue;
}

.less-4 img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width:480px) and (max-width:768px){
  .sidebar-2{
      display: block;
  }
  .sidebar-content{
    width: 100%;
    height: calc(100%/2);
  }
  .sidebar-green-white{
    width: 100%;
    height: calc(100%/2);
  }
  .less3-green{
    height: 80%;
    width: 100%;
  }
  .less3-blue{
    height: 20%;
    width: 100%;
  }
}


@media (min-width:768px){
 
 
  .sidebar-content{
    width: 80%;
  }
  .sidebar-green-white{
    width: 20%;
  }
  .block-2{
    display: flex;
    }
  .less3-green{
    width: 40%;
    height: 100%;
  }
  .less3-blue{
    width: 60%;
    height: 100%;
  }
}

