$main-font-stack: "Montserrat", "Kaushan Script", "Roboto", sans-serif, serif;
$general-color: #95e1d3;
$general-font-size: 14px;
$container-width: 1200px;
$header-btn-color: rgb(252, 227, 138);
$second-color: #f38181;
$color-gradiant-one: rgba(252, 227, 138, 0.9);
$color-gradiant-two: rgba(243, 129, 129, 0.9);
$footer-border: #e5e5e5;
$footer-color: #333333;
$profession-color: rgb(153, 153, 153);
$white-color: rgb(255, 255, 255);
$montserrat: "Montserrat";
$kaushan-script: "Kaushan Script";
$roboto: "Roboto";