.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif, serif;
  color: #555252;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.gallery-img {
  width: 300px;
  height: 300px;
}
.gallery-img img {
  width: 100%;
}

.cart {
  display: flex;
  justify-content: center;
  width: 316px;
  flex-wrap: wrap;
  padding: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.cart:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.cart-img {
  width: 300px;
  height: 400px;
  margin-bottom: 10px;
}

.cart-img img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}
.cart-img img:hover {
  transform: rotate(5deg);
}

.cart-title {
  font-size: 24px;
  font-weight: 900;
  color: black;
  margin-bottom: 10px;
  transition-property: transform, color;
  transition-duration: 0.2s, 0.3s;
}
.cart-title:hover {
  transform: scale(1.15, 1.15);
  color: #d96f92;
}
.cart-discription {
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

.cart-btn {
  margin-bottom: 10px;
  background-color: #444444;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition-property: width, background-color;
  transition-duration: 0.2s;
}

.cart-btn:hover {
  width: 100%;  
  background-color: #d96f92;
}
