@media (min-width: 768px) {
    .banner-header {
        padding-top: 40px;
    }
    .banner-title {
        font-size: 2.7rem;
        font-family: "Montserrat";
        font-weight: bold;
        margin-bottom: 26px;
    }
    .banner-discription {
        font-size: 1.7rem;
        margin-bottom: 34px;
    }
    .btn-banner {
        width: 225px;
    }
    .btn-partner {
        width: 192px;
    }
    .main-title {
        margin-bottom: 38px;
    }
    .banner {
        height: 700px;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    .md-absolute-show {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .list-item {
        margin-right: 20px;
    }
    .list-item:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}