html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  overflow-wrap: break-word;
}

body {
  font-family: $main-font-stack;
  color: $general-color;
  font-size: $general-font-size;
}

.container {
  width: $container-width;
  margin: 0 auto;
}
